@charset "UTF-8";

/* VARIABLES */

:root
{
    --colorChar: #a5ff9a;
    --colorLight: #a53c9a;
    --colorHuds: #000000CC;
    --colorSpeed: #444;
    --colorKph: #282828;
    --colorWeapons1: #333;
    --colorWeapons2: #1B1B1B;
    --colorKeys1: #600;
    --colorKeys2: #F88;
    --colorKeys3: #FBB;
    --color0: transparent;
    --color1: #c66d73;
    --color2: #52ae4a;
    --color3: #eff373;
    --color4: #73cfce;
    --color5: black;
    --color6: red;
    --color7: #0C0;
    --color8: blue;
    --color9: orange;
    --color10: white;
    --color11: silver;
    --color12: gray;
    --color13: yellow;
    --color14: #555;
    --colorFluor1: #F03;
    --colorFluor2: #FC3;
    --colorFluor3: #CF0;
    --colorFluor4: #0F3;
    --colorFluor5: #0CF;
    --colorFluor6: #03F;
    --colorFluor7: #C0F;
    --colorFluor8: #F0C;
}

/* INICIALS */

@font-face
{
    font-family: "PressStart2P";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../webfonts/PressStart2P-Regular.ttf) format("truetype");
}

html
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body
{
    margin: 0;
    padding: 0;
    background-color: var(--color11);
    font-size: 6pt;
    font-family: "PressStart2P";
    text-align: left;
}

/* PRECÀRREGA + SPINNER */

preloader
{
	background-color: var(--color10);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner
{
    display: inline-flex;
    border: 20px solid var(--color5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left-color: var(--color6);
    animation: spin 1.0s ease 0s infinite normal none running;
}
@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

/* COMUNS */

.left
{
    text-align: left;
}
.center
{
    text-align: center;
}
.right
{
    text-align: right;
}
.uppercase
{
    text-transform: uppercase;
}
.lowercase
{
    text-transform: lowercase;
}
.capitalize
{
    text-transform: capitalize;
}

/* MAIN */

main
{
    display: flex;
    height: 100vh;
}
article
{
    position: relative;
    width: 1024px;
    height: 740px;
    margin: auto;
    background-color: var(--color10);
    -webkit-box-shadow: 0px 0px 25px 5px var(--color5);
    -moz-box-shadow: 0px 0px 25px 5px var(--color5);
    box-shadow: 0px 0px 25px 5px var(--color5);
}
article i
{
    font-style: italic;
}
article u
{
    text-decoration: underline;
}
article b,
article strong
{
    font-weight: bold;
}
article hr
{
    width: 100%;
    box-sizing: border-box;
    border-color: var(--color6);
}
article h1
{
    color: var(--color10);
    font-size: 1.5em;
    margin: 0.25em 0 0.5em 0;
}
article h2
{
    color: var(--color6);
    font-size: 1.4em;
    margin: 0;
}
article h3
{
    color: var(--color9);
    font-size: 1.3em;
    margin: 0 0 0.3em 0;
}
article h4
{
    color: var(--color7);
    font-size: 1.2em;
    margin: 0 0 0.2em 0;
}
article h5
{
    color: var(--color8);
    font-size: 1.1em;
    margin: 0 0 0.1em 0;
}
article p
{
    color: var(--color5);
    font-size: 1.0em;
    margin: 1em 0.5em;
    padding: 0;
}
.cont-cols
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
}
.col
{
    margin: 0 2.5em;
}
.col.no-margin
{
    margin: 0;
}
.margin-2 .col
{
    margin: 0 2em;
}
.margin-1 .col
{
    margin: 0 1em;
}
.margin-05 .col
{
    margin: 0 0.5em;
}
.no-margin .col
{
    margin: 0;
}
.col:first-child
{
    margin-left: 0;
}
.col:last-child
{
    margin-right: 0;
}
.e1
{
    color: var(--color6);
}
.e2
{
    color: var(--color7);
}
.e3
{
    color: var(--color8);
}
.e4
{
    color: var(--color9);
}
.e5
{
    color: var(--color10);
}
#hardHatMack
{
    background-color: var(--color12);
    box-sizing: border-box;
}
.optionsIcon
{
    color: var(--color10);
    font-size: 1.5em;
}
#sound,
#music
{
    display: inline-block;
}
.optionsIcon,
#sound,
#music
{
    transition: opacity 0.3s linear 0s, color 0.15s linear 0s, transform 0.3s linear 0s;
}
.optionsIcon.change,
#sound.change,
#music.change
{
    opacity: 0;
    color: var(--color6);
    transform: scale(10);
}
.fa-caret-up,
.fa-caret-down,
.fa-caret-left,
.fa-caret-right
{
    vertical-align: baseline;
    font-size: 1.5em;
}
.fa-caret-up
{
    display: block;
    margin: -9px 0 -3px 8px;
}
.fa-caret-down
{
    display: block;
    margin: 28px 0 -32px 8px;
}
.fa-square
{
    color: var(--color5);
    margin: 0;
    padding: 0;
    font-size: 6px;
}
form
{
    display: none;
    position: absolute;
    top: 218px;
    left: 747px;
    font-size: 10px;
    color: var(--color9);
}
input,
select
{
    border: solid 1px var(--color10);
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "PressStart2P";
    font-size: 10px;
    color: var(--color10);
    background-color: var(--color5);
}
input:focus,
select:focus
{
    border: 0;
    color: var(--color5);
    background-color: var(--color10);
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="color"],
select
{
    width: 160px;
    height: 20px;
    line-height: 20px;
}
input[type="text"],
input[type="password"]
{
    padding: 2px;
}
input[type="color"],
input[type="button"],
input[type="submit"]
{
    cursor: pointer;
}
input[type="button"],
input[type="submit"]
{
    border-radius: 10px;
    padding: 2px 5px;
}
input[type="button"]:hover,
input[type="submit"]:hover
{
    background-color: var(--color6);
    transition: all 0.5s ease 0s;
}
#blackScreen
{
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color5);
}

@media screen and (max-width: 1023px)
{
    html
    {
        overflow-x: scroll;
    }
}

@media screen and (max-height: 739px)
{
    html
    {
        overflow-y: scroll;
    }
}